body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #de8cbf;
    color: #333;
}
#rect1 {
    fill: #b486ab;
    stroke: #b486ab;
  }
  
  img {
    position: absolute;
    top: 65px;
    right: 150px;
    width: 400px; /* Adjust the width as needed */
    height: 400px; /* Adjust the height as needed */
  }
 
/*about us heart*/
.aboutUs {
    width: 80px; 
    height: 52px; 
    background-image: url('https://i.postimg.cc/RhvP9fR3/about-us-heart.png');
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    font-size: 11px;
    text-align: center;
    top:0px;
    left: 100px;

  }
  .aboutUs {
    transition-duration: 0.4s;
  }

  .aboutUs:hover {
    background-image: url('https://i.postimg.cc/WpBJCj5Z/about-us-heart-white.png');
}

/*contactUs heart*/
.contactUs {
    width: 80px; /* Adjust the width as needed */
    height: 52px; /* Adjust the height as needed */
    background-image: url('https://i.postimg.cc/RhvP9fR3/about-us-heart.png');
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    font-size: 11px;
    text-align: center;
    top:0px;
    left: 200px;

  }
  .contactUs {
    transition-duration: 0.8s;
  }

  .contactUs:hover {
    background-image: url('https://i.postimg.cc/WpBJCj5Z/about-us-heart-white.png');
}

/*main menu heart*/
.mainMenu {
    width: 80px; /* Adjust the width as needed */
    height: 52px; /* Adjust the height as needed */
    background-image: url('https://i.postimg.cc/RhvP9fR3/about-us-heart.png');
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    font-size: 11px;
    text-align: center;
    top:0px;
    left: 300px;

  }
  .mainMenu {
    transition-duration: 0.8s;
  }

  .mainMenu:hover {
    background-image: url('https://i.postimg.cc/WpBJCj5Z/about-us-heart-white.png');
}


header {
    background-color: #de8cbf;
    text-align: center;
    padding: 50px 20px;
}

header h1 {
    color: #fff;
    font-size: 36px;
}

.book-now {
    margin-top: 10px;
    background-color: #6a2d60;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;

}
.book-now {
    transition-duration: 0.4s;
  }
  
  .book-now:hover {
    background-color: #eacbd2; 
    color: #4a4063;
  }


.location-section {
    text-align: center;
    background-color: #de8cbf;
    padding: 30px 20px;
}

.location-section h2 {
    color: white;
}

.location-section img {
    width: 300%;
    max-width: 1000px;
}

.socials-section {
    background-color: #f7d8e6;
    text-align: center;
    padding: 30px 0;
}

.socials-section h2 {
    color: #333;
    font-size: 24px;
}


.reviews-section {
    background-color: #de8cbf;
    padding: 50px 20px;
}

.review {
    background-color: #f7d8e6;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
}

.review p {
    margin: 0;
    font-size: 14px;
}

.review h3 {
    margin-top: 0;
    font-size: 18px;
}
