body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dd9ac2;
    color: #333;
}
#rect1 {
  fill: #b486ab;
  stroke: #b486ab;
}

img {
  position: absolute;
  top: 65px;
  left: 35.3%;
  width: 400px;  
  height: 400px;  
}

.logo {
  color: black;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
  padding: 150px;
  align-items: center;
  display: flex;
  justify-content: center;
}


/*about us heart*/
.aboutUs {
  width: 80px;  
  height: 52px;  
  background-image: url('./about\ us\ heart.webp');
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  font-size: 11px;
  text-align: center;
  top: 0px;
  left: 100px;
}

.aboutUs {
  transition-duration: 0.4s;
}

.aboutUs:hover {
  background-image: url('./about\ us\ heart\ white.webp');
}

/*contactUs heart*/
.contactUs {
  width: 80px;  
  height: 52px;  
  background-image: url('./about\ us\ heart.webp');
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  font-size: 11px;
  text-align: center;
  top:0px;
  left: 200px;

}
.contactUs {
  transition-duration: 0.8s;
}

.contactUs:hover {
  background-image: url('./about\ us\ heart\ white.webp');
}

/*main menu heart*/
.mainMenu {
  width: 80px;  
  height: 52px;  
  background-image: url('./about\ us\ heart.webp');
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  font-size: 11px;
  text-align: center;
  top:0px;
  left: 300px;

}
.mainMenu {
  transition-duration: 0.8s;
}

.mainMenu:hover {
  background-image: url('./about\ us\ heart\ white.webp');
}

/*Faq heart*/
.faqButton {
  width: 80px;  
  height: 52px;  
  background-image: url('./about\ us\ heart.webp');
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  font-size: 11px;
  text-align: center;
  top:0px;
  left: 400px;

}
.faqButton {
  transition-duration: 0.8s;
}

.faqButton:hover {
  background-image: url('./about\ us\ heart\ white.webp');
}



/*  FAQ and Email sections */
.faq-section {
    margin: 20px 0;
    text-align: center;
}

.faq-section h2 {
    margin-bottom: 20px;
}

.faq-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
}

.faq, .email-section,.socials-section {
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    flex: 1 1 calc(33.333% - 20px); 
}



.centered-faq {
    flex: 1 1 100%; /* Make the centered FAQ take the full width */
    text-align: center; /* Center the text inside the FAQ */
}

.email-section {
    flex: 1 1 100%; /* Make the email section take the full width */
    text-align: center;
    font-size: 1.5em;
}

.faq h3, .email-section h2 {
    margin-bottom: 10px;
}

.faq p, .email-section p {
    margin: 0;
}

/* Style for Button Section */
.button-section {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.button-insta {
  flex: 1;
  left: 35%;
  margin: 0 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
  background-image: url('./insta_button.webp');
  width: 100px; 
  height: 100px; 
  background-size: cover;
  background-position: center;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  font-size: 11px;
  text-align: center;

  
}

.button-insta {
  transition-duration: 0.8s;
}

.button-insta:hover {
  background-image: url('./insta_purple.webp');

}

.button-tt {
  flex: 1;
  margin: 0 10px;
  left: 45%;
  padding: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
  background-image: url('./tt_button.webp');
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  background-size: cover;
  background-position: center;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  font-size: 11px;
  text-align: center;
}
.button-tt {
  transition-duration: 0.8s;
}
.button-tt:hover {
  background-image: url('./tt_purple.webp');
}

.button-fb {
  flex: 1;
  margin: 0 10px;
  padding: 10px;
  left: 55%;
  border: none;
  cursor: pointer;
  text-align: center;
  background-image: url('./fb_button.webp');
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  background-size: cover;
  background-position: center;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  font-size: 11px;
  text-align: center;
}

.button-fb {
  transition-duration: 0.8s;
}

.button-fb:hover {
  background-image: url('./fb_purple.webp');
}
