body {
  font-family: system-ui;
  margin: 0;
  padding: 0;
  background: #dd9ac2;
  color: #444444;
  text-align: left;
}

#rect1 {
  fill: #b486ab;
  stroke: #b486ab;
}

img {
  position: absolute;
  top: 65px;
  right: 150px;
  width: 400px; /* Adjust the width as needed */
  height: 400px; /* Adjust the height as needed */
}

/*about us heart*/
.aboutUs {
  width: 80px; /* Adjust the width as needed */
  height: 52px; /* Adjust the height as needed */
  background-image: url('https://i.postimg.cc/RhvP9fR3/about-us-heart.png');
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  font-size: 11px;
  text-align: center;
  top: 0px;
  left: 100px;
}

.aboutUs {
  transition-duration: 0.4s;
}

.aboutUs:hover {
  background-image: url('https://i.postimg.cc/WpBJCj5Z/about-us-heart-white.png');
}

/*contactUs heart*/
.contactUs {
  width: 80px; /* Adjust the width as needed */
  height: 52px; /* Adjust the height as needed */
  background-image: url('https://i.postimg.cc/RhvP9fR3/about-us-heart.png');
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  font-size: 11px;
  text-align: center;
  top:0px;
  left: 200px;

}
.contactUs {
  transition-duration: 0.8s;
}

.contactUs:hover {
  background-image: url('https://i.postimg.cc/WpBJCj5Z/about-us-heart-white.png');
}

/*main menu heart*/
.mainMenu {
  width: 80px; /* Adjust the width as needed */
  height: 52px; /* Adjust the height as needed */
  background-image: url('https://i.postimg.cc/RhvP9fR3/about-us-heart.png');
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  font-size: 11px;
  text-align: center;
  top:0px;
  left: 300px;

}
.mainMenu {
  transition-duration: 0.8s;
}

.mainMenu:hover {
  background-image: url('https://i.postimg.cc/WpBJCj5Z/about-us-heart-white.png');
}



/*
book now Button Code
*/
.bookNow {
  border-radius: 12px;
  padding: 20px 82px;
  font-size: 50px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  background-color: #dd9ac2;
  border-radius: 20px;
  background-color: #4a4063;
  color: #ffffff;
  border: 1px solid #dd9ac2;
  position: relative;
}
.bookNow {
  transition-duration: 0.8s;
}

.bookNow:hover {
  background-color: #eacbd2; 
  color: #4a4063;
}

/* Heart */
#heart {
  position: absolute;
  width: 100px;
  height: 90px;
  top: 239px;
  right: 1468996px;
  transform: rotate(32deg);
}

#heart:before,
#heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: #eacbd2;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

#heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

/* make header above heart */
h1,
h3 {
  position: relative;
  z-index: 2; /* Higher z-index to place it above the heart */
}

h1 {
  font-size: 48px; /* Increase the font size as needed */
}

hr {
  display: block;
  margin-top: 10em;
  margin-bottom: 0em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

/*reviews header*/

p.reviews {
  color: black;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
}

.review-section {
  text-align: center;
  margin: 50px 0;
}
.review {
  background: white;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  display: inline-block;
  width: 30%;
}
.review {
  transition-duration: 0.8s;
}

.review:hover {
  transform: scale(1, 1.1);
  background-color: #eacbd2; 
  color: #4a4063;
}
.review p {
  font-size: 18px;
  color: #444444;
}
.hearts {
  color: #eacbd2;
}

/* New Section */
.new-section {
  background-color: #eacbd2; 
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  height: 500px;
}




/* Circle */
.circle {
    position: absolute;
    top: 1020px; /* Adjust as needed */
    left: -59px; /* Adjust as needed */
    width: 200px;
    height: 200px;
    background-color: #dd9ac2; /* Change color as needed */
    border: 2px solid #eacbd2;
    border-radius: 100%;
    z-index: 1000; /* Ensure it's on a different layer */
}
.circle2 {
  position: absolute;
  top: 1130px; /* Adjust as needed */
  left: 86px; /* Adjust as needed */
  width: 100px;
  height: 100px;
  background-color: #dd9ac2; /* Change color as needed */
  border: 2px solid #eacbd2;
  border-radius: 100%;
  z-index: 1000; /* Ensure it's on a different layer */
}

.circle3 {
  position: absolute;
  top: 919px; /* Adjust as needed */
  left: 80px; /* Adjust as needed */
  width: 250px;
  height: 250px;
  background-color: #dd9ac2; /* Change color as needed */
  border: 2px solid #eacbd2;
  border-radius: 100%;
  z-index: 1000; /* Ensure it's on a different layer */
}

.circle4 {
  position: absolute;
  top: 1056px; /* Adjust as needed */
  left: 260px; /* Adjust as needed */
  width: 100px;
  height: 100px;
  background-color: #dd9ac2; /* Change color as needed */
  border: 2px solid #eacbd2;
  border-radius: 100%;
  z-index: 1000; /* Ensure it's on a different layer */
}

.circle5 {
  position: absolute;
  top: 1029px; /* Adjust as needed */
  right: -80px; /* Adjust as needed */
  width: 250px;
  height: 250px;
  background-color: #dd9ac2; /* Change color as needed */
  border: 2px solid #eacbd2;
  border-radius: 100%;
  z-index: 1000; /* Ensure it's on a different layer */
}

.circle6 {
  position: absolute;
  top: 1120px; /* Adjust as needed */
  right: 90px; /* Adjust as needed */
  width: 200px;
  height: 200px;
  background-color: #dd9ac2; /* Change color as needed */
  border: 2px solid #eacbd2;
  border-radius: 100%;
  z-index: 1000; /* Ensure it's on a different layer */
}

.circle7 {
  position: absolute;
  top: 1040px; /* Adjust as needed */
  right: 220px; /* Adjust as needed */
  width: 150px;
  height: 150px;
  background-color: #dd9ac2; /* Change color as needed */
  border: 2px solid #eacbd2;
  border-radius: 100%;
  z-index: 1000; /* Ensure it's on a different layer */
}

.circle8 {
  position: absolute;
  top: 1050px; /* Adjust as needed */
  right: 130px; /* Adjust as needed */
  width: 100px;
  height: 100px;
  background-color: #dd9ac2; /* Change color as needed */
  border: 2px solid #eacbd2;
  border-radius: 100%;
  z-index: 1000; /* Ensure it's on a different layer */
}
